<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Info Page</title>
       <!-- Bootstrap CSS -->
  <link href="https://cdn.jsdelivr.net/npm/bootstrap@5.3.0/dist/css/bootstrap.min.css" rel="stylesheet">
  <link rel="stylesheet" href="/resources/style.css">
 
    <!-- Link to jQuery (CDN) -->
    <script src="https://code.jquery.com/jquery-3.6.4.min.js"></script>
</head>
<body>
    <div class="container d-flex justify-content-center align-items-center" style="width: 100vw; height: 100vh;">
        
        <div class="card  rounded-5 shadow" style="width: 18rem;">
        <img class="card-img-top rounded-top-5" src="/resources/images/PP.jpg" alt="Card image cap">
        <form action="/toSignIn" method="post">
             <button type="submit" class="btn btn-primary rounded-bottom-5 rounded-0">Log Out</button>
        </form>
        <div class="card-body">

            <p class="card-title">Name: <%=name.name%></p>
            <p class="card-title">Email: <%=name.email.toLowerCase()%></p>
            <p class="card-title">Password: <%=name.Password%></p>
            
        </div>
        </div>
    </div>
</body>
</html>